<h1>Chat</h1>

<div>
    <label for="Usuario">Usuario: </label>
    <input id="user" type="text" name="usuario">
    <label for="chat">Mensaje: </label>
    <input id="chat" type="text" name="chat">
    <button id="btn">Enviar</button>
</div>
    <p id="msgs"></p>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>