<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div>
        <h1>Productos</h1>
        {{#each lista}}
        <ul>
            <li>Nombre: {{this.description}}</li>
            <li>Precio: {{this.price}}</li>
        </ul>
        {{/each}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>