<h1>REGISTRO</h1>

<form action="/api/session/register" method="post" role="form">

<div>
    <input id="first_name" name="first_name" placeholder="Nombre" type="text" required>
</div>

<div>
    <input id="last_name" name="last_name" placeholder="Apellido" type="text" required>
</div>

<div>
    <input id="age" name="age" placeholder="Edad" type="number" required>
</div>

<div>
    <input id="email" name="email" placeholder="email" type="text" required>
</div>

<div>
    <input id="password" name="password" placeholder="password" type="password" required>
</div>

<div>
    <input type="submit" value="Registrarse">
</div>
</form>

<div>
    <button onclick="location.href='login'">LOGIN</button>
</div>